* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

:root {
  --main-color: #89a2e5;
  --main-secondary: #17244b;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/*  SCROLLBAR  */

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--main-color);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--main-secondary);
    border-radius: 12px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(130, 204, 235, 0.911);
    border-radius: 12px;
  }

/*  NAVBAR SECTION  */

.sticky {
  background-color: #93b4d2a9;
  transition: all 0.3s ease-out 0s;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171);
  backdrop-filter: blur(15px);
  height: 150px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.7rem 10%;
    height: 6.5rem;
}

.navbar-toggler {
  position: relative;
  background-color: transparent;
  border-color: transparent;
}

.navbar-toggler span {
  display: block;
  background-color: var(--main-color);
  height: 4px;
  width: 27px;
  margin-top: 5px;
  margin-bottom: 5px;
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  transform: rotate(-135deg);
  opacity: 0.9;
}

@media (max-width: 767px) {
  .navbar {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: var(--main-secondary);
  }

  .navbar .d-flex {
    margin-top: -50px;
    color: whitesmoke;
  }

  .navbar .navbar-toggler {
    margin-top: -50px;
  }

  .navbar a {
    margin: 10px 0;
  }

  .navbar .fork-btn {
    margin: 25px 0;
  }
}

.navbar-brand {
  color: rgb(27, 76, 96);
}

.logo {
    height: 3.5em;
    width: 3.5em;
    margin-top: 70px;
}

.navbar-nav .nav-link {
  color: rgb(0, 0, 0);
  padding-right: 1rem;
  padding-left: 1rem;
}

.nav-link {
    padding: 0.8rem 1rem;
}

@media (max-width: 767px) {
  .nav-link {
    padding: 0.7rem 1rem !important;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
  margin-top: -30px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: #3f5aa6;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

/* HOME SECTION */

.wave {
  animation-name: wave-animation; 
  animation-duration: 2.1s; 
  animation-iteration-count: infinite; 
  transform-origin: 70% 70%; 
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } 
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } 
  100% {
    transform: rotate(0deg);
  }
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  position: relative;
  z-index: -1;
  background-image: url(./assets/watercolor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
  padding-top: 30px;
}

.home-content {
  padding: 9rem 0 2rem;
  z-index: 99;
  color: rgb(0, 0, 0);
  text-align: left;
}

.home-content .img-fluid {
    border-radius: 20%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    width: 70%;
    margin-left: 6rem;
}

.home-content .img-fluid:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.heading {
    font-size: 3.5rem;
    color: var(--main-secondary);
    font-weight: 800;
    text-align: center;
}

.heading-name {
  font-size: 2.5em;
  padding-left: 45px;
}

.main-name {
  color: var(--main-secondary);
}

.Typewriter__wrapper {
  font-size: 2.2em;
  color: var(--main-secondary);
  font-weight: 600;
}

.Typewriter__cursor {
  font-size: 2.4em;
  color: var(--main-color);
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em;
    font-weight: 500;
    position: relative;
  }

  .home-content .img-fluid {
    margin-left: 70px;
    justify-content: center;
  }
}

/* ABOUT SECTION */
.about-section {
  position: relative;
  padding-bottom: 70px;
  padding-top: 70px;
}

.about-description {
  color: var(--main-secondary);
  padding-top: 100px;
  padding-bottom: 20px;
}

.about-section .img-fluid {
    margin: 4rem;
    width: 30rem;
    height: auto;
    border-radius: 5%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    mix-blend-mode: luminosity;
    transition: 0.3s;
    cursor: pointer;
}

.about-body {
  padding-top: 50px;
  font-size: 1.2em ;
  text-align: left;
}

.about-social {
  text-align: center;
  padding-top: 25px;
  color: var(--main-secondary);
}

.about-social h1 {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-social-links {
  justify-content: center;
  padding-top: 15px;
  display: inline-block;
  position: relative;
  padding-inline-start: 0;
}

.social-icons2 {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  background: rgba(255, 255, 255, 0.972);
  border-radius: 50%;
  transition: 0.5s;
  margin-bottom: 30px;
}

.social-icons2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--main-secondary);
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.social-icons2:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--main-color);
}

.social-icons2:hover {
  color: var(--main-secondary);
  box-shadow: 0 0 5px #20409e;
  text-shadow: 0 0 2px #20379e;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: var(--main-secondary) !important;
}

/* FOOTER */
.footer {
  background-color: rgb(4, 4, 22);
  bottom: 0 ;
  padding-top: 10px ;
  padding-bottom: 8px ;
  position: fixed;
  width: 100%;
}

.footer-copyrright {
  text-align: center;
}

.footer-body {
  z-index: 1;
  text-align: center;
}

@media (max-width: 767px) {
  .footer-copyrright {
    text-align: center;
  }

  .footer-body {
    text-align: center;
  }
}

.footer h3 {
  font-size: 1em;
  color: white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.footer-icons {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0 ;
}

/* SKILLS */

.skills {
  min-height: 90vh;
  background-image: url(./assets/watercolor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
  padding-top: 100px;
}

.skills h2 {
  font-size: 3.5rem;
  color: var(--main-secondary);
  font-weight: 800;
  text-align: center;
}

.skills .row .bar span {
  color: whitesmoke;
}

.skills .container {
  background: var(--main-secondary);
  color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}
.skills .container .row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  flex-wrap: wrap;
  gap: 1.8rem;
}
.skills .container .bar {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  background: var(--main-color);
  transition: 0.2s;
}

.skills .container .bar:hover {
  box-shadow: 0 8px 10px rgba(0, 2, 68, 0.8) !important;
  background-color: var(--main-secondary) !important;
}
.skills .container .bar .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

@media screen and (max-width: 767px) {
  .skills .container {
    padding: 0;
    margin: 0;
  }
  .skills .container .row {
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    padding: 2rem 0.2rem 2rem 0.2rem;
    gap: 1rem;
  }
  .skills .container {
    margin-top: 5px;
    width: 100%;
  }
}

/* PROJECTS */

.project-section {
  min-height: 90vh;
  background-image: url(./assets/watercolor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
  padding-top: 100px;
}

.project-section h1 {
  margin-bottom: 30px;
}

.project-section img {
  height: 300px;
  width: 500px;
  box-shadow: 0 8px 10px rgba(0, 2, 68, 0.2);
  border-radius: 10%;
  mix-blend-mode: luminosity;
  transition: 0.3s;
}

.project-section img:hover {
  box-shadow: 0 8px 10px rgba(0, 2, 68, 0.8);
  mix-blend-mode: normal;
}

.project-section .portfolio .fork-btn-inner a {
  text-decoration: none;
  color: white;
}

/* BUTTONS */
.fork-btn {
  font-size: 1.1em !important;
  padding-top: 10px !important;
}

.fork-btn-inner {
  line-height: 1.4em !important;
  background-color: var(--main-secondary) !important;
  padding: 0.25rem 1.1rem !important;
  vertical-align: middle !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.fork-btn-inner:hover {
  transform: translateY(-2px) !important;
  background-color: var(--main-color) !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.fork-btn-inner::after {
  display: none !important;
}